{% extends 'base.html' %}

{% load static crispy_forms_tags %}

{% block head_title %} Password Reset | StudyWare  {% endblock %}

{% block body %}
<div class="container">


<div class="row justify-content-center">
	<aside class="col-sm-6 mb-5 mt-5">
<div class="card mt-5 mb-5">
<article class="card-body">
<a href="{% url 'login' %}" class="float-right btn btn-outline-primary">Login</a>
<h4 class="card-title mb-4 mt-1">Reset your password</h4>
	 <p>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</p>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Return to log in</a>
</article>
</div>

	</aside>
</div>
 
{% endblock %}