{% extends 'base.html' %}

{% load static crispy_forms_tags widget_tweaks %}

{% block title %} Login | StudyWare {% endblock %}


{% block body %}


<div class="container">
   <br>  
   <p class="text-center"><strong>Hi, {{ user.username}}</strong></p>
   <hr>

  <div class="row justify-content-center">
    <aside class="col-sm-6 mb-4 mt-4">
      <div class="card">
        <article class="card-body">
          <h4 class="card-title mb-4 mt-1">Password Changed <i class="fas fa-check-circle" style="color:forestgreen"></i></h4>
          <p>You have successfully changed your password<a href="">Go Back</a></p>
        </article>
      </div>
    </aside>
  </div>

  <hr>
</div>

{% endblock %}





