{% extends 'base.html' %}

{% load static crispy_forms_tags widget_tweaks %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'assets/css/signup.css' %}"> {% endblock %}

{% block extra_js %}<script src="{% static 'assets/js/signup.js' %}"></script>{% endblock %}

{% block head_title %} SignUp | StudyWare {% endblock %}

{% block body %}

<div class="container">
<br>  <p class="text-center">Create A <strong>{{ user_type|upper}}</strong> Account</p>
<hr>

<div class="row justify-content-center">
	<aside class="col-sm-5 mt-3">
		<div class="card mb-2">
			<form role="form" action="" id="userForm" role="form" data-programmes-url="{% url 'ajax_load_programmes' %}" data-departments-url="{% url 'ajax_load_departments' %}" method="post" class="registration-form" novalidate>
				<fieldset>
					<div class="form-top">
						<div class="form-top-left">
						   <h3>Step 1 / 3</h3>
						   <p>Personal Details:</p>
						</div>
						<div class="form-top-right">
							<i class="fa fa-user"></i>
						</div>
					</div>
					<div class="form-bottom">
						<div class="form-group">
							{{ form.first_name|as_crispy_field }}
						</div>
						<div class="form-group">
							{{ form.last_name|as_crispy_field }}
						</div>
						<div class="form-group">
							{{ form.other_name|as_crispy_field }}
						</div>
						<div class="form-row">
							<div class="form-group col-md-6 mb-0">
								{{ form.sex|as_crispy_field }}
							</div>
							<div class="form-group col-md-6 mb-0">
								{{ form.birth_date|as_crispy_field }}
							</div>
						</div>
						<button type="button" class="btn btn-next btn-primary">Next</button> <small><p class="text-muted float-right mt-2">Have An Account? <a href="{% url 'login' %}">Login</a></p></small>
					</div>
				</fieldset>

				<fieldset>
					<div class="form-top">
					  <div class="form-top-left">
						<h3>Step 2 / 3</h3>
						<p>Contact Details:</p>
					  </div>
						<div class="form-top-right">
						<i class="fa fa-mail-bulk"></i>
					  </div>
					</div>
					<div class="form-bottom">
						<div class="form-group">
							{{ form.phone|as_crispy_field }}
						</div>
						<div class="form-group">
							{{ form.email|as_crispy_field }}
						</div>
						<div class="form-group">
							{{ form.address|as_crispy_field }}
						</div>
						<div class="form-group">
							{{ form.birth_place|as_crispy_field }}
						</div>
						<button type="button" class="btn btn-previous btn-primary">Previous</button>
						<button type="button" class="btn btn-next btn-primary">Next</button>
					</div>
				</fieldset>

				<fieldset>
				<div class="form-top">
				  <div class="form-top-left">
					<h3>Step 3 / 3</h3>
					  <p>Account Details:</p>
				  </div>
				  <div class="form-top-right">
					<i class="fa fa-university"></i>
					  </div>
				  </div>
					<div class="form-bottom">
					  <div class="form-row">
						{% if user_type == 'student' %}
						<div class="form-group col-md-6 mb-0">
						  {{ form.faculty|as_crispy_field }}
						</div>
						<div class="form-group col-md-6 mb-0">
						  {{ form.department|as_crispy_field }}
						</div>
						{% else %}
						 <div class="form-group col-12">
						  {{ form.faculty|as_crispy_field }}
						 </div>
						{% endif %}
					  </div>

					 {% if user_type == 'student' %}
						<div class="form-row">
							<div class="form-group col-md-6 mb-0">
								{{ form.level|as_crispy_field }}
							</div>
							<div class="form-group col-md-6 mb-0">
								{{ form.study_centre|as_crispy_field }}
							</div>
						</div>
						<div class="form-group">
							{{ form.programme|as_crispy_field }}
						</div>
						<div class="form-row">
							<div class="form-group col-md-6 mb-0">
								{{ form.password1|as_crispy_field }}
							</div>
							<div class="form-group col-md-6 mb-0">
								{{ form.password2|as_crispy_field }}
							</div>
						</div>
						{% else %}
						<div class="form-group">
							{{ form.username|as_crispy_field }}
						</div>
						<div class="form-group">
							{{ form.password1|as_crispy_field }}
						</div>
						<div class="form-group">
							{{ form.password2|as_crispy_field }}
						</div>
						{% endif %}


						{% csrf_token %}
						<button type="button" class="btn btn-previous btn-primary">Previous</button>
						<button type="submit" class="btn btn-success">Create Account <i class="fas fa-check-circle"></i></button>
					</div>
				</fieldset>
			</form>
		</div>
	</aside>
</div>
</div>
<script type="text/javascript" src="{% static 'assets/vendor/jquery3/jquery.min.js' %}"></script>
  <script>
    $("#id_faculty").change(function () {
      var url = $("#userForm").attr("data-departments-url");
      var facultyId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'faculty': facultyId
        },
        success: function (data) {
          $("#id_department").html(data);
        }
      });

    });

    $("#id_department").change(function () {
      var url = $("#userForm").attr("data-programmes-url");
      var departmentId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'department': departmentId
        },
        success: function (data) {
          $("#id_programme").html(data);
        }
      });

    });
		
  </script>
{% endblock %}