{% extends 'student/base_home.html' %}

{% load static humanize %}

{% block head_title %} Wallet | StudyWare {% endblock %}

{% block js %}<script src="{% static 'assets/js/popper.min.js' %}"></script>{% endblock %}

{% block content %}

<div class="modal fade " id="CCModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title mb-4">Payment</h4>
                <form role="form">
                <div class="form-group">
                <label for="username">Name on card</label>
                <input type="text" class="form-control" name="username" placeholder="Ex. John Smith" required="">
                </div> <!-- form-group.// -->
                    <div class="form-group">
        <label for="cardNumber">Card number</label>
        <div class="input-group">
            <input type="text" class="form-control" name="cardNumber" placeholder="">
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fab fa-cc-visa"></i> &nbsp; <i class="fab fa-cc-amex"></i> &nbsp;
                    <i class="fab fa-cc-mastercard"></i>
                </span>
            </div>
        </div> <!-- input-group.// -->
        </div> <!-- form-group.// -->

<div class="row">
    <div class="col-md flex-grow-0">
        <div class="form-group">
            <label><span class="hidden-xs">Expiration</span> </label>
        	<div class="form-inline" style="min-width: 220px">
        		<select class="form-control" style="width:100px">
				  <option>MM</option>
				  <option>01 - Janiary</option>
				  <option>02 - February</option>
				  <option>03 - February</option>
				</select>
	            <span style="width:20px; text-align: center"> / </span>
	            <select class="form-control" style="width:100px">
				  <option>YY</option>
				  <option>2018</option>
				  <option>2019</option>
				</select>
        	</div>
        </div>
    </div>
<!--    <div class="col-md-3">-->
<!--        <div class="form-group">-->
<!--            <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>-->
<!--            <input class="form-control" required="" type="text">-->
<!--        </div> &lt;!&ndash; form-group.// &ndash;&gt;-->
<!--    </div>-->
</div> <!-- row.// -->


<p class="alert alert-success"> <i class="fa fa-lock"></i> Some security information</p>
<button class="subscribe btn btn-primary btn-block" type="button"> Confirm </button>
</form>
      </div> <!-- card-body.// -->
    </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="RRRModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Credit RRR</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form id="rrr_form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="rrr">RRR</label>
                      <input type="number" class="form-control" name="rrr" id="rrr" aria-describedby="helpId" placeholder="000000000000">
                      <small id="helpId" class="form-text text-muted">enter your 12 digit rrr code from remita</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="rrr_submit" class="btn btn-primary">Credit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="TrancModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Recent Transactions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                 <table class="table table-sm mb-1">
            <thead>
                <tr>
                    <th class="text-center">S/N</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Type</th>
                    <th class="text-center">Cost</th>
                    <th class="text-center">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in payments %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td class="text-center">{{ transaction.title }}</td>
                    <td class="text-center">{{ transaction.description }}</td>
                    <td class="text-center">₦{{ transaction.cost|intcomma }}</td>
                    <td class="text-center">{{ transaction.date|naturaltime }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active" aria-current="page">Wallet</li>
    </ol>
</nav>

{% if not user.student.used_topup %}
<div class="alert alert-info" role="alert">
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <i class="fas fa-info-circle" aria-hidden="true"></i>
    <strong>Free Top</strong>
    <p>Use the following RRR Code to topup your wallet with ₦20,000:  <b>128709876406</b>
        <br>
        <small><b>N:B</b> you can only use this code once</small>
    </p>
</div>
{% endif %}


<div class="row mb-1">
    <div class="col-md-4 col-lg-4 mb-3">
        <div class="card">
            <div class="text-center mt-5 mb-5">
            Balance:<div class="text-danger"><h1><strong>₦ {{ user.student.wallet_balance|intcomma}}</strong></h1></div>
           </div>
           <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#CCModal">Card TopUp</button>
<!--                        <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#RRRModal">Credit RRR</button>-->
                    </div>
                    <div class="col">
                       <button type="button" data-toggle="modal" data-target="#RRRModal" class="btn btn-primary btn-block">RRR TopUp</button>
                    </div>

               </div>
                
            </div>
          
        </div>
        <div class="card mt-2">
        <div class="card-header">Recent Deposit </div>
        <div class="table-responsive">
            <table class="table table-sm mb-0">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>RRR/Trans.</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in deposit_payments %}
                    <tr>
                        <td class="text-center">{{ transaction.type }}</td>
                        <td class="text-center">{{ transaction.transaction_id }}</td>
                        <td class="text-center">₦{{ transaction.amount|intcomma }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td class="bg-light text-center font-italic p-2" colspan="12">No recorded transaction.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-lg-8">
        <div class="card">
            <div class="card-header pl-2"><span class="fas fa-stopwatch mr-2 text-muted"></span> Recent Purchases</div>
            <div class="table-responsive">
            <table class="table table-sm mb-1">
            <thead>
                <tr>
                    <th class="text-center">S/N</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Type</th>
                    <th class="text-center">Cost</th>
                    <th class="text-center">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in debit_payments %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td class="text-center">{{ transaction.title }}</td>
                    <td class="text-center">{{ transaction.description }}</td>
                    <td class="text-center">₦{{ transaction.cost|intcomma }}</td>
                    <td class="text-center">{{ transaction.payment__date|naturaltime }}</td>
                </tr>
                {% empty %}  
                <tr> 
                    <td class="bg-light text-center font-italic p-2" colspan="12">No recorded transaction.</td>          
                </tr> 
                {% endfor %}
            </tbody>
            </table>
                {% if debit_payments.count > 1 %}
                <div class="card-footer">
                    <button type="button" data-toggle="modal" data-target="#TrancModal" class="btn btn-sm btn-secondary" data-dismiss="modal">Show more</button>
                </div>
                {% endif %}
        </div>
       </div>
    </div>
</div>

{{ user.student.used_topup|json_script:"topup_used" }}
{% endblock %}
