{% extends 'student/base_home.html' %}

{% load static humanize %}

{% block head_title %} Wallet | StudyWare {% endblock %}

{% block js %}<script src="{% static 'assets/js/popper.min.js' %}"></script>{% endblock %}

{% block content %}

<div class="modal fade " id="CCModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title mb-4">Payment</h4>
                <form role="form">
                <div class="form-group">
                <label for="username">Name on card</label>
                <input type="text" class="form-control" name="username" placeholder="Ex. John Smith" required="">
                </div> <!-- form-group.// -->
                    <div class="form-group">
        <label for="cardNumber">Card number</label>
        <div class="input-group">
            <input type="text" class="form-control" name="cardNumber" placeholder="">
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fab fa-cc-visa"></i> &nbsp; <i class="fab fa-cc-amex"></i> &nbsp;
                    <i class="fab fa-cc-mastercard"></i>
                </span>
            </div>
        </div> <!-- input-group.// -->
        </div> <!-- form-group.// -->

<div class="row">
    <div class="col-md flex-grow-0">
        <div class="form-group">
            <label><span class="hidden-xs">Expiration</span> </label>
        	<div class="form-inline" style="min-width: 220px">
        		<select class="form-control" style="width:100px">
				  <option>MM</option>
				  <option>01 - Janiary</option>
				  <option>02 - February</option>
				  <option>03 - February</option>
				</select>
	            <span style="width:20px; text-align: center"> / </span>
	            <select class="form-control" style="width:100px">
				  <option>YY</option>
				  <option>2018</option>
				  <option>2019</option>
				</select>
        	</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
            <input class="form-control" required="" type="text">
        </div> <!-- form-group.// -->
    </div>
</div> <!-- row.// -->


<p class="alert alert-success"> <i class="fa fa-lock"></i> Some security information</p>
<button class="subscribe btn btn-primary btn-block" type="button"> Confirm </button>
</form>
      </div> <!-- card-body.// -->
    </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="RRRModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Credit RRR</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                  <label for="rrr">RRR No</label>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                  <small id="helpId" class="form-text text-muted">Help text</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Credit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RRRModal1" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Generate RRR</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                  <label for="rrr">Amount</label>
                    	<i class="fas fa-bill"></i>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                  <small id="helpId" class="form-text text-muted">Help text</small>
                </div>

                <div class="form-group">
                  <label for="rrr">Description</label>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                  <small id="helpId" class="form-text text-muted">Help text</small>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Generate</button>
            </div>
        </div>
    </div>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active" aria-current="page">Wallet</li>
    </ol>
</nav>

<div class="row mb-1">
    <div class="col-md-4 col-lg-4 mb-3">
        <div class="card">
            <div class="text-center mt-5 mb-5">
            Naira:<div class="text-danger"><h1><strong>{{ user.student.wallet_balance|intcomma}}</strong></h1></div>
           </div>
           <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <div class="dropdown open">
                           <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown-menu" aria-haspopup="true"
                           aria-expanded="false">
                             Credit Wallet
                           </button>
                           <div class="dropdown-menu" aria-labelledby="triggerId">
                           <button class="dropdown-item" data-toggle="modal" data-target="#CCModal">Debit/Credit Card</button>
                           <button class="dropdown-item" data-toggle="modal" data-target="#RRRModal">Credit RRR</button>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                 <button type="button" data-toggle="modal" data-target="#RRRModal1" class="btn btn-primary btn-block">RRR</button>
                 </div>
               </div>
                
            </div>
          
        </div>
        <div class="card mt-2">
        <div class="card-header">Recent Deposit </div>
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>RRR/Trans.</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>RRR</td>
                        <td>5552-0978-7654-54</td>
                        <td>₦30,000</td>
                    </tr>
                    <tr>
                        <td>CC</td>
                        <td>CR458-UT098-867</td>
                        <td>₦10,500</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-lg-8">
        <div class="card">
            <div class="card-header pl-2"><span class="fas fa-stopwatch mr-2 text-muted"></span> Recent transactions</div>
            <div class="table-responsive">
            <table class="table table-sm mb-1">
            <thead>
                <tr>
                    <th class="text-center">S/N</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Type</th>
                    <th class="text-center">Cost</th>
                    <th class="text-center">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in payments %}
                <tr> 
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td class="text-center">{{ transaction.title }}</td>
                    <td class="text-center">{{ transaction.description }}</td>
                    <td class="text-center">₦{{ transaction.cost|intcomma }}</td>
                    <td class="text-center">{{ transaction.date|naturaltime }}</td>
                </tr> 
                {% empty %}  
                <tr> 
                    <td class="bg-light text-center font-italic p-2" colspan="12">No recorded transaction.</td>          
                </tr> 
                {% endfor %}
            </tbody>
        </table>
        </div>
       </div>
    </div>
</div>
{% endblock %}
