{% extends 'base.html' %}

{% load static %}

{% block head_title %} StudyWare | Exam Portal {% endblock %}

{% block content %}

<div class="modal fade" id="modal-exam" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card border-0">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new" aria-selected="false">New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="taken-tab" data-toggle="tab" href="#taken" role="tab" aria-controls="taken" aria-selected="false">Taken</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show" id="new" role="tabpanel" aria-labelledby="new-tab">
                    <div class="card mt-3">
                        <div class="table-responsive">
                            <table  class="table mb-0">
                                <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Name</th>
                                    <th>Course</th>
                                    <th>Questions</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for exam in exams %}
                                <tr>
                                    <td class="align-middle">{{ forloop.counter}}</td>
                                    <td class="align-middle">{{ exam.title|upper }}</td>
                                    <td class="align-middle">{{ exam.course }}</td>
                                    <td class="align-middle">{{ exam.questions_count }}</td>
                                    <td class="align-middle">
                                        {% if exam.available %}
                                        <span class="fas fa-check-circle" style="color:forestgreen"></span>
                                        {% else %}
                                        <span class="fas fa-ban" style="color:red"></span>
                                        {% endif %}
                                    </td>
                                    <td class="text-right">
                                        {% if exam.available %}
                                        <a href="{% url 'student:take_exam' exam.pk %}" class="btn btn-outline-primary" style="border-radius:50px; margin-right:100px"><span class="fas fa-pen-alt" ></span></a>
                                        {% else %}
                                        <a href="#" class="btn btn-danger disabled" style="margin-right:90px" role="button"><span class="font-weight-bold">closed</span></a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td class="bg-light text-center font-italic p-3" colspan="10">No exam available right now.</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

                <div class="tab-pane fade" id="taken" role="tabpanel" aria-labelledby="taken-tab">

                    <div class="card mt-3">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Name</th>
                                    <th>Course</th>
                                    <th>%</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for taken_exam in taken_exams %}
                                <tr>
                                    <td>{{ forloop.counter}}</td>
                                    <td>{{ taken_exam.exam.title|upper }}</td>
                                    <td>{{ taken_exam.exam.course }}</td>
                                    <td>{{ taken_exam.percentage }}</td>
                                    <td><button  class="btn btn-sm btn-outline-primary rounded-pill taken_exam_view" data-url="{% url 'student:ajax_exam_result' taken_exam.pk %}"><span class="fas fa-eye"></span></button></td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td class="bg-light text-center font-italic p-3" colspan="7">You haven't completed any exam yet.</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}