{% extends 'student/base_home.html' %}

{% load static humanize crispy_forms_tags widget_tweaks %}

{% block head_title %} Assessment - Exams | StudyWare {% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4">
      <li class="breadcrumb-item">Assessment</li>
      <li class="breadcrumb-item active">Examination</li>
    </ol>
  </nav>

  <div class="row mb-2">
    <div class="col">
        <a href="{% url 'student:exam_reg' %}" class="btn btn-primary"><i class="fas fa-plus" style="color:white;"></i> Add Exam</a>
     </div>
    <div class="col">
       <div class="badge badge-info float-right"> <h5 class="mb-0">{{ session }}</h5></div>
    </div>
</div>

<div class="alert alert-info text-center" role="alert"><b>Registered Exams</b></div>

    <div class="card mb-0">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                <tr>
                    <th class="font-weight-bold text-center">SN</th>
                    <th class="font-weight-bold text-center">Course</th>
                    <th class="font-weight-bold text-center">Title</th>
                    <th class="font-weight-bold text-center">Credit Unit</th>
                    <th class="font-weight-bold text-center">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for exam in user.student.exams.all %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td class="text-center">{{ exam.course }}</td>
                    <td class="text-center">{{ exam.course.title }}</td>
                    <td class="text-center">{{ exam.course.credit_unit }}</td>
                    {% if 2 < 1 %}
                    <td class="text-center small"><span class="fas fa-check" style="color:forestgreen"></span></td>
                    {% else %}
                    <td class="text-center small"><span class="fas fa-question"></span></td>
                    {% endif %}
                    <td class="text-right">
                        {% if exam.available %}
                        <a href="{% url 'student:take_exam' exam.pk %}" class="btn btn-outline-primary" style="border-radius:50px; margin-right:100px"><span class="fas fa-pen-alt" ></span></a>
                        {% else %}
                        <a href="#" class="btn btn-danger disabled" style="margin-right:90px" role="button"><span class="font-weight-bold">closed</span></a>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td class="bg-light text-center font-italic p-3" colspan="7">you haven't registered any exams yet.</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>  
{% endblock %}