{% extends 'lecturer/base_home.html' %}

{% load static crispy_forms_tags %}

{% block head_title %} Topic | StudyWare {% endblock %}

{% block extra_css %}
<link href="{% static 'assets/vendor/simplemde/simplemde.min.css' %}" rel="stylesheet"/>
{% endblock %}

{% block js %}
<script src="{% static 'assets/vendor/simplemde/simplemde.min.js' %}"></script>
<script>
   var simplemde = new SimpleMDE({forceSync: true})
 </script>
{% endblock %}

{% block content %}
 <nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4">
    <li class="breadcrumb-item">Board</li>
      <li class="breadcrumb-item active"><a href="{% url 'lecturer:topic_list' %}">Topics</a></li>
        {% if 'edit' in request.path %}
      <li class="breadcrumb-item active">Edit</li>
        {% else %}
      <li class="breadcrumb-item active">New topic</li>
        {% endif %}
    </ol>
  </nav>
<div class="mb-3">
<form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {{ form.media }}
      <div class="form-group col-md-11 mb-0 ml-0">
        {{ form.subject|as_crispy_field }}
      </div>
      
       <div class="form-group col-md-11 mb-0 ml-0">
      {{ form.message|as_crispy_field }}
    </div>

    {% if 'edit' in request.path %}
      <div class="row pl-2 pr-2">
        <div class="form-group col-md-6 mb-0">
          {{ form.files|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mt-md-4 pl-md-5 mb-md-2 pt-md-2">
           <button type="submit" class="btn btn-block btn-success">Save changes</button>
        </div>
        <div class="form-group col-md-3 mt-md-4 mb-md-2 pr-md-5 pt-md-2">
           <a href="{% url 'lecturer:topic_list' %}" class="btn btn-block btn-outline-secondary" role="button">Nevermind</a>
        </div>
    </div>
    {% else %}
    <div class="form-row pl-2 pr-2">
      <div class="form-group col-md-4 mb-0">
        {{ form.course|as_crispy_field }}
      </div>
      <div class="form-group col-md-7 mb-0">
        {{ form.files|as_crispy_field }}
      </div>
    </div>
    {% endif %}

    
    {% if 'edit' not in request.path %}
      <div class="row pl-2 pr-2">
          <div class="form-group col-md-5">
           <button type="submit" class="btn btn-block btn-success">Save</button>
        </div>
        <div class="form-group col-md-5 pl-md-5 ml-md-5 pr-md-0">
           <a href="{% url 'lecturer:topic_list' %}" class="btn btn-block btn-outline-secondary" role="button">Nevermind</a>
        </div>
      </div>
    {% endif %}
    

  </form>
  </div>

{% endblock %}